 * {
   margin: 0px;
   padding: 0px;
 }

 a {
   text-decoration: none;
 }

 .clearfix:after {
   content: '';
   display: block;
   clear: both;
 }

 #top-nav {
   background: rgb( 245, 245, 245);
 }

 #top-nav .nav-left {
   float: left;
   margin: 7px 0px;
 }

 #top-nav .nav-right {
   float: right;
   margin: 7px 0px;
 }

 #top-nav .nav-left a, #top-nav .nav-right a {
   color: rgb( 156, 156, 156);
   margin-right: 25px;
   font-size: 11px;
 }

 #top-nav .nav-left a:nth-child(1) {
   padding-left: 30px;
 }

 #top-nav .nav-right a:nth-child(5) {
   border-left: 1px solid rgb(156, 156, 156);
   padding-left: 20px;
 }

 .search {
   border: 1px solid red;
 }

 div.logo img {
   height: 60px;
 }